BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
NamespaceIndentation: All
PointerAlignment: Middle
ReferenceAlignment: Middle
DerivePointerAlignment: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
